extends layout

include mixins/_loginForm

block content
  .inner
    form.form(action="/register" method="POST")
      h2  Rregister
      label(for="name") name
      input(type="text" id="name" name="name")

      label(for="email") email
      input(type="text" id="email" name="email" required)

      label(for="password") password
      input(type="password" id="password" name="password" required)
      label(for="password-confirm") confirm password
      input(type="password" id="password-confirm" name="password-confirm" required)

      input(type="submit" value="Register" class="button")