mixin loginForm()
  form.form(action="/login" method="POST")
    h2 Login
    label(for="email") email
    input(type="text" name="email")

    label(for="password") password
    input(type="password" name="password")

    input(type="submit" value="Login" class="button")